%html
  %head
    %title bc-scraper
    %meta(http-equiv="Content-type" content="text/html; charset=UTF-8")
    %link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet")
    %link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet")
    %link(href="//netdna.bootstrapcdn.com/bootswatch/3.0.3/amelia/bootstrap.min.css" rel="stylesheet")
    %script(src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js" data-main="app")

  %body
    %nav.navbar.navbar-default.navbar-static-top#navbar(role="navigation")
      .navbar-header
        %a.col-lg-2.navbar-brand(href="/") bc-scraper
        .col-lg-4
        %form.navbar-form
          .navbar-form-group.col-lg-6
            .input-group
              %input.form-control(type="text" placeholder="Paste bandcamp url")
              %span.input-group-btn
                %button.btn.btn-default(type="submit") Load
    %canvas#canvas
